.box_container{
  height: 300px;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  border: 1px solid grey;

}

.arrow{
  top: 110px;
  width: 40px;
  position: absolute;

  &.leftarrow{
    left: 5px
  }

  &.rightarrow{
    right: 5px;
  }
}




