 .box_content{

  height: 100px;
  width: 100px;
  border: 1px solid grey;

}

 .box:before {
   content: "<";
   min-height: 300px;
   vertical-align: center;

 }

 .box:after{
   content: ">";
   min-height: 300px;
   vertical-align: center;
 }

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 // overflow-wrap: normal;
  overflow: hidden;

  border: 1px solid grey;



}

.item{
  background-color:#333333 ;
  padding: 3px;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  float: left;
  display: block;
  color: white;
}
