.item {
  width: 180px;
  min-height: 300px;
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
}
.item-image{}

.item-content{
  background-color:#333333 ;
  height: 156px;
  padding: 1px;
}


.loading{
  color: grey;
}
